
.bubbleChart {
  min-width: 100px;
  max-width: 700px;
  height: 700px;
  margin: 0 auto;
}

h1 {
  font-family: Source Sans Pro, sans-serif;
  font-weight: 500;
  fill: white;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

h3 {
  font-family: Source Sans Pro, sans-serif;
  font-weight: 500;
  fill: white;
  text-align: center;
}

h4 {
  font-family: Source Sans Pro, sans-serif;
  font-weight: 500;
  fill: white;
  text-align: center;
}

a {
  color: #0000b3;
  font-weight: bold;
  text-decoration: none;
}

#icon{
  width:15x;
  height:15px;
}
